
page-backup2 {
    .scroll-content  {
        background-color: #F5F0EA;
     }
    .blue{
        color: #1C65E9;
    }
    .grey{
        color: grey;
    }
    .borders{
        border-right: 0.55px solid #c8c7cc;
        border-left: 0.55px solid #c8c7cc;
        border-top: 0.55px solid #c8c7cc;
    }
    .center{
        margin: auto;
        text-align: center;
    }
    .font{
        font-size: 1.6em;
    }
    .phoneInput{
        //margin-left: -4.5em;
        width: 121%;
    }
    .mnText{
        margin-bottom: 0.5em;
        font-size: 1.1em;
    }
    .mnText2{
        margin-top: 1.5em;
    }
    ._center{
        margin: auto;
        text-align: center;
        width: 60%;
        padding: 10px;
        font-size: 1.2em;
    }
    .next{
        color: #f4f4f4;
        background-color: #205666;
    }
    .cspan{
        color: #488aff;
    }
    .cicon{
        font-size: 68px;
        color: gainsboro;
        margin-bottom: 4px;
    }
    .takephoto{
        background-color: white;
        border-radius: 50%;
        width: 100%;
        border: 2px solid red;
    }
    .mycolor{
        color: #205666;
        font-size: 16px
    }
    .red{
        color:red
    }
}
